extends ./utils/layout.jade
include ./utils/mixins.jade

block style
    link(href="../css/orderList.css", rel="stylesheet")

block content
    .content
        block header
            include ./includes/logo-header.jade
        .pay-order-container
            h4.title
                | 我的订单
            +orders-table()