extends ./utils/layout.jade
include ./utils/mixins.jade

block style
    link(href="../css/user.css", rel="stylesheet")


block content
    .content
        .center-container
            .user-info
                .tip
                    | 修改成功
                .title
                    | 个人信息
                +input-info("user", "用户名", "AAA")
                +input-info("user", "邮箱", "110120130@qq.com")
                +input-info("user", "电话号码", "12922029832")
                button.button.ui
                    | 修改
                button.button.ui
                    | 确认修改